.container {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.carpool-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.center-text {
  flex: 1;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.carpool-entry-container {
  background-color: #d1ebce;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.carpool-info-container {
  display: flex;
  padding: 1rem 0;
  gap: 0.5rem;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
}

.book-button {
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: black;
  color: white;
  border: none;
}

.name {
  font-weight: bold;
}

.price {
  text-align: center;
  align-self: center;
  font-weight: bolder;
  padding: 2rem;
  font-size: 1.5rem;
  color: green;
}

.page-selector {
  font-family: Arial, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: row;
  font-size: 1.5rem;
}

.current-page {
  font-weight: bold;
}
