:root {
  font:
    1rem "Georgia",
    serif;

  /* Custom properties */
  --background-color: white;
  --accent-background: #d1ebce;
  --button-font-size: 1rem;
  --button-vertical-padding: 0.5rem;
  --button-horizontal-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

input {
  border-radius: 0.5rem;
  flex: 1;
  padding: 0.5rem;
  margin: 1em 0;
  border: none;
}

h2 {
  font-size: 2rem;
  padding: 2rem 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--accent-background);
  text-align: center;
  border-radius: 2rem;
}

.form-client {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 2rem;
  padding: 0 2rem;
  flex-direction: row;
}

.input-container {
  flex: 1;
  align-items: center;
  gap: 0.5rem;
  display: flex;
}