:root {
  font:
    1rem "Georgia",
    serif;

  /* Custom properties */
  --background-color: white;
  --accent-background: #d1ebce;
  --button-font-size: 1rem;
  --button-vertical-padding: 0.5rem;
  --button-horizontal-padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  padding: 2rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--accent-background);
  text-align: center;
  border-radius: 2rem;
}
