:root {
    font: 1rem "Georgia",
    serif;

    /* Custom properties */
    --background-color: white;
    --accent-background: #95c590;
}

* {
    margin: 0;
    padding: 0;
}

/*
.accueil_client {
  width: 70%;
  text-align: center;
  background-color: #95c590;
  margin: auto;

  border-radius: 32px;
}
.form_client {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 7em 1em;
}
label {
  width: 50%;
  padding: 0;
  margin: 1em 0;
  justify-content: left;
}
input {
  width: 100%;
  padding: 0;
  margin: 1em 0;
}


h2 {
  font-size: 2em;
  padding-top: 1em;
}

.switchbutton {
  width: 25%;
  margin: 5em;
}

.accueil_conducteur{
  width:70%;
  text-align:center;
  background-color: #95c590;
  margin: auto;
  
  border-radius: 32px;
  
  
}
.form_conducteur{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20em 1em;
}
*/

#root {
    padding: 0 2rem;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --button-font-size: 1rem;
    --button-vertical-padding: 0.5rem;
    --button-horizontal-padding: 1rem;
}

.button {
    background-color: green;
    padding: var(--button-vertical-padding) var(--button-horizontal-padding);
    font-size: var(--button-font-size);
    border: none;
    border-radius: calc(
            var(--button-font-size) + 2 * var(--button-vertical-padding)
    );
    margin: 0 auto 1rem;
    cursor: pointer;
    font-weight: bolder;
}

h2 {
    font-size: 2em;
    padding-top: 1em;
}

label {
    width: 50%;
    padding: 0.5rem;
    margin: 1em 0;
    justify-content: left;
    text-align: right;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 1em 0;
    border-radius: 0.5rem;
}

.form_client {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8em 1em;
}